# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List of popular languages for Data Science
* List of common libraries used by Data Scientists
* List of Data Science Tools

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R
4. C++

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib
4. TensorFlow

|Data Science Tools|
|------------------|
|Model Asset eXchange (MAX)|
|Jupyter Lab|
|RStudio IDE|

### Below are a few examples of evaluating arithmetic expressions in Python

In [8]:
# This a simple arithmetic expression to mutiply then add integers
print((3*4)+5)

17

In [9]:
# This will convert 200 minutes to hours by diving by 60
print(200/60)

3.3333333333333335

## Author:
Abdulganiyu Ajalogun